<audio id="audioElement" src="assets/audios/urna-confirmacao.mp3"></audio>


<div class="header-voting">
  <div class="logo">
    <img src="../../../../assets/images/logo-votup.svg" height="32px" alt="">
   VotUp
  </div>
</div>

@if (!hiddenSuccess()) {
  <div>
    @if (pressed()) {
      <div>
        <h2><b>Chapa selecionada: </b></h2>
        <div class="grow-voting" >
          <div class="plate-max">{{object_plate()?.name}}</div>
          <div nz-col class="div-option-persona">
            <div>
              @if (!getCandidatePlate('P', object_plate()!).avatar) {

                <div>
                  <img style="border-radius: 100px;" width="144px" height="144px" src='..\..\..\..\assets\images\avatar.svg' alt="avatar">
                </div>
              }
              @if (getCandidatePlate('P', object_plate()!).avatar) {
                <nz-avatar nzSrc="{{getCandidatePlate('P', object_plate()!).avatar}}"></nz-avatar>

              }
            </div>
            <!--                <nz-avatar nzSrc="{{getCandidatePlate('P', object_plate).avatar}}" nzIcon="user"></nz-avatar>-->
            <div nz-col>
              <div class="name-max">{{getCandidatePlate('P', object_plate()!).name}}</div>
              <div class="plate-type name-max">Presidente</div>
            </div>
          </div>
          <div nz-col class="div-option-persona">
            <div>
              @if (!getCandidatePlate('V', object_plate()!).avatar) {

                <div>
                  <img style="border-radius: 100px;" width="144px" height="144px" src='..\..\..\..\assets\images\avatar.svg' alt="avatar">
                </div>
              }
              @if (getCandidatePlate('V', object_plate()!).avatar) {
                <nz-avatar nzSrc="{{getCandidatePlate('V', object_plate()!).avatar}}"></nz-avatar>

              }
            </div>
            <!--                <nz-avatar nzSrc="{{getCandidatePlate('V', object_plate).avatar}}" nzIcon="user"></nz-avatar>-->
            <div nz-col>
              <div class="name-max">{{getCandidatePlate('V', object_plate()!).name}}</div>
              <div class="plate-type name-max">Vice presidente</div>
            </div>
          </div>
        </div>
      </div>
    }
    <h2>Votação</h2>
    <h4>Agora é só votar! Primeiro clique na <b>CHAPA</b> que você deseja votar em seguida clique em <b>CONFIRMAR</b>.
  </h4>
  <form [formGroup]="formGroup">
    <nz-radio-group formControlName="plate" required>
      @for (plate of listPlates(); track plate) {
        <label class="radio-group-style" (click)="eventButton(plate)" nz-radio
          [nzValue]="plate">
          <div nzflex="auto" class="div-option">
            <div nz-col class="plate-name">
              <span>{{ plate.name }}</span>
            </div>
            <div nz-col class="div-option-persona">
              <div>
                @if (!getCandidatePlate('P', plate).avatar_url) {
                  <div>
                    <img style="border-radius: 100px;" width="35px" height="35px" src='..\..\..\..\assets\images\avatar.svg' alt="avatar">
                  </div>
                }
                @if (getCandidatePlate('P', plate).avatar_url) {
                  <nz-avatar nzSrc="{{getCandidatePlate('P', plate).avatar_url}}"></nz-avatar>
                }
              </div>
              <!--                        <nz-avatar nzSrc="{{getCandidatePlate('P', plate).avatar}}" nzIcon="user"></nz-avatar>-->
              <div nz-col>
                <div>{{getCandidatePlate('P', plate).name}}</div>
                <div class="plate-type">Presidente</div>
              </div>
            </div>
            <div nz-col class="div-option-persona">
              <div>
                @if (!getCandidatePlate('V', plate).avatar_url) {
                  <div>
                    <img style="border-radius: 100px;" width="35px" height="35px" src='..\..\..\..\assets\images\avatar.svg' alt="avatar">
                  </div>
                }
                @if (getCandidatePlate('V', plate).avatar_url) {
                  <nz-avatar nzSrc="{{getCandidatePlate('V', plate).avatar_url}}"></nz-avatar>
                }
              </div>
              <!--                        <nz-avatar nzSrc="{{getCandidatePlate('V', plate).avatar}}" nzIcon="user"></nz-avatar>-->
              <div nz-col>
                <div>{{getCandidatePlate('V', plate).name}}    </div>
                <div class="plate-type">Vice-presidente</div>
              </div>
            </div>
          </div>
        </label>
      }
    </nz-radio-group>
    <nz-form-item class="confirm-button">
      <nz-form-control>
        <button class="success" nz-button nzType="primary" (click)="vote()" [disabled]="!formGroup.valid">
          CONFIRMAR
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
}
@if (hiddenSuccess()) {
  <div nz-col class="success-message">
    <img src="./assets/images/voting_success.svg" alt="">
    <nz-form-item class="back-to-start">
      <button nz-button nzType="link" (click)="redirect()"
        [disabled]="!formGroup.valid">
        Voltar ao início
      </button>
    </nz-form-item>
  </div>
}
