<div nz-row nzJustify="space-between" nzAlign="middle">
  <h2>Votação</h2>
  <button (click)="showModal()" nz-button nzType="primary" [nzSize]="'default'">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Criar votação
  </button>
</div>

<div class="inner-content">
  <form nz-form [formGroup]="formGroup">
    <div nz-row nzGutter="16">
      <div nz-col nzFlex="auto">
        <nz-form-item>
          <input nz-input placeholder="Descrição" formControlName="description"/>
        </nz-form-item>
      </div>
      <div nz-col nzLg="{{3}}">
        <nz-form-item>
          <nz-date-picker nzPlaceHolder="Data inicial" formControlName="start_date"
          nzFormat="dd/MM/yyyy"></nz-date-picker>
        </nz-form-item>
      </div>
      <div nz-col nzLg="{{3}}">
        <nz-form-item>
          <nz-date-picker nzPlaceHolder="Data final" formControlName="final_date"
          nzFormat="dd/MM/yyyy"></nz-date-picker>
        </nz-form-item>
      </div>
      <div nz-col nzLg="{{3}}">
        <nz-select nzPlaceHolder="Status" formControlName="active" ngModel="">
          <nz-option nzValue="true" nzLabel="Ativo"></nz-option>
          <nz-option nzValue="false" nzLabel="Inativo"></nz-option>
          <nz-option nzValue="" nzLabel="Todos"></nz-option>
        </nz-select>
      </div>
      <div nz-col>
        <button (click)="search()" nz-button nzType="primary">
          <span nz-icon nzType="search" nzTheme="outline"></span>
        </button>
      </div>
    </div>
  </form>

  <nz-table #tableDataVoting
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzData]="tableData">
    <thead>
      <tr>
        <th>Nome da votação</th>
        <th>Data limite da votação</th>
        <th>Ativo</th>
        <th>Ação</th>
        <!--            <th>Opcoes</th>-->
      </tr>
    </thead>
    <tbody>
      @for (vote of tableDataVoting.data; track vote) {
        <tr style="position: relative;" (dblclick)="showModal(vote)">
          <td>{{ vote.description }}</td>
          <td>{{ vote.date | date: "dd/MM/yyyy"}}</td>
          <td>
            <nz-switch [nzDisabled]="true" [(ngModel)]="vote.active"></nz-switch>
          </td>
          <td>
            <div nz-row nzJustify="start" nzAlign="middle" class="space">
              @if (vote.active) {
                <div>
                  <button nz-button nzType="default"
                    (click)="showCloseVoteMessage(vote)" disabled="{{!vote.active}}" nz-tooltip
                    nzTooltipTitle="Encerrar"
                    class="table-action-button">
                    <span nz-icon nzType="stop"></span>
                  </button>
                </div>
              } @else {
                <button nz-button nzType="default"
                  (click)="activeVoteModal(vote)" disabled="{{vote.active}}" nz-tooltip
                  nzTooltipTitle="Ativar"
                  class="table-action-button">
                  <span nz-icon nzType="play-circle" nzTheme="outline"></span>
                </button>
              }
              <button nz-button nzType="default"
                nzTooltipPlacement=""
                (click)="showRanking(vote)"
                nz-tooltip
                [disabled]="!vote.was_voted"
                nzTooltipTitle="Resultado"
                class="table-action-button">
                <span nz-icon nzType="line-chart" nzTheme="outline"></span>
              </button>
              <!--                    <button nz-button nzType="default" nzTooltipPlacement=""-->
              <!--                            (click)="generateReportResume(vote.id)"-->
              <!--                            nz-tooltip-->
              <!--                            [disabled]="!vote.was_voted"-->
              <!--                            nzTooltipTitle="Resumo"-->
              <!--                            class="table-action-button">-->
              <!--                        <span nz-icon nzType="file-pdf" nzTheme="outline"></span>-->
            <!--                    </button>-->
            @if (authService.user.is_superuser) {
              <div>
                <button
                  nz-button nzType="default"
                  nzTooltipPlacement=""
                  (click)="showEditVote(vote)"
                  [disabled]="!vote.was_voted"
                  nz-tooltip
                  nzTooltipTitle="Resumo voto"
                  class="table-action-button">
                  <span nz-icon nzType="project" nzTheme="outline"></span>
                </button>
              </div>
            }
            <button nz-button nzType="default"
              (click)="showModal(vote)" nz-tooltip
              nzTooltipTitle="Editar"
              class="table-action-button">
              <span nz-icon nzType="edit"></span>
            </button>
            <button nz-button nzType="default"
              (click)="showConfirmMessage(vote)" nz-tooltip
              nzTooltipTitle="Excluir"
              class="table-action-button">
              <span nz-icon nzType="delete"></span>
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
<div style="margin-top: 10px; flex-direction: row-reverse; display: flex">
  <nz-pagination [nzPageIndex]="paginator().nzPageIndex"
    [nzTotal]="pageLength"
    (nzPageIndexChange)="search()"
    (nzPageSizeChange)="search()"
    nzShowSizeChanger
  [nzPageSize]="paginator().nzPageSize"></nz-pagination>
</div>
</div>
