<form nz-form [formGroup]="formGroup" [nzLayout]="'vertical'" novalidate>
  <nz-form-item>
    <div class="avatar-row">
      <div class="image-mask">
        @if (!avatar()) {
          <img width="80" src='../../../../assets/images/avatar.svg' alt="avatar">
        } @else {
          <img [src]="avatar()" alt="">
        }
      </div>
      <input #image class="avatar-file-input" type="file" accept=".jpeg,.png,.jpg" (change)="changeFile($event)" hidden>
      <div class="avatar-btns">
        <button nz-button nzType="primary" type="button" (click)="image.click()">Nova foto</button>
        <button nz-button nzType="default" [disabled]="!avatar()" type="button" (click)="clearFile(image)">Deletar</button>
      </div>
    </div>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
    <nz-form-control nzErrorTip="Nome inválido!">
      <input nz-input id="name" type="text" maxlength="64" placeholder="Digite o nome completo" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="cell">Celular</nz-form-label>
    <nz-form-control nzErrorTip="Número inválido!">
      <input nz-input id="cell" formControlName="cellphone" maxlength="15" type="text"
        [mask]="'(00) 00000-0000'" placeholder="Ex.: (92) 99999-9999"/>
    </nz-form-control>
  </nz-form-item>

  <div *nzModalFooter>
    <button nz-button nzType="default" type="button" (click)="cancel()">Fechar</button>
    <button nz-button nzType="primary" type="submit" (click)="saveOrUpdate()" [disabled]="!formGroup.valid">
      <span nz-icon nzType="check" nzTheme="outline"></span>
      Salvar
    </button>
  </div>
</form>
