@if (!isVoting()) {
  <section class="login-elector-page">
    <div class="login-elector-panel">
      <div class="logo">
        <img src="../../../assets/images/logo-votup.svg" height="32" alt="VotUp">
        <span>VotUp</span>
      </div>
      <h1>Vamos lá!</h1>
      <p>Digite o seu telefone para votar.</p>

      <form class="login-form" nz-form [formGroup]="formGroup" (ngSubmit)="getVotingUser()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Número de telefone inválido">
            <nz-input-group nzPrefixIcon="phone">
              <input required nz-input type="text" formControlName="phone" maxlength="15" inputmode="tel" placeholder="(99) 99999-9999" [mask]="'(00) 00000-0000'" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div class="actions">
          <button nz-button nzType="primary" class="primary-action" (click)="getVotingUser()" [disabled]="!formGroup.valid">
            Prosseguir
          </button>
          <button nz-button class="secondary-action" type="button" (click)="cancel()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
    <div class="login-elector-visual">
      <img src="assets/images/login.svg" alt="Ilustração de votação">
    </div>
  </section>
}
@if (isVoting() && votingUser(); as currentVotingUser) {
  <app-voting [votingUser]="currentVotingUser" (finishVote)="newVote()"></app-voting>
}
