.login-main {
    height: 100vh;
    margin: -96px -110px;
    display: flex;
}

.logo {
    margin-bottom: 32px;
    margin-right: 0;
    font-size: 18px;

    img {
        margin-top: -8px;
    }
}

.login-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #1D63FF;
}

.login-form-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .labels {
        width: 300px;
        margin-bottom: 8px;
        color: #5B6075;
    }
}

.login-form {
    width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-email {
    width: 150px;
}
.button-voter {
    margin-right: 10px;
}
.login-span {
    height: 60px;
}

.login-voting {
    justify-content: center;
}

.login-alight {
    margin-top: 160px;
    margin-left: 100px;
}

.login-text {
    background-color: #1D63FF;
    margin-top: 20px;

}

.back-to-top {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
