<nz-layout class="layout">
  @if (isHiddenMenu()) {
    <nz-header class="header-up">
      <div class="logo">
        <img src="../assets/images/logo-votup.svg" height="32px" alt="">
       VotUp
      </div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item>
          <a routerLink="/core/vote" routerLinkActive="active">
            Votação
          </a>
        </li>
        <li nz-menu-item>
          <a routerLink="/core/candidate_group" routerLinkActive="active">
            Chapas
          </a>
        </li>
        <li nz-menu-item>
          <a routerLink="/core/users" routerLinkActive="active">
            Usuários
          </a>
        </li>
        <li nz-menu-item>
          <a routerLink="/core/voters" routerLinkActive="active">
            Eleitores
          </a>
        </li>
        <li nz-menu-item>
          <a routerLink="/core/candidates" routerLinkActive="active">
            Candidatos
          </a>
        </li>
      </ul>
      <div class="space"></div>
      @if (authService.isLoggedIn()) {
        <div class="header-username">Olá, <strong>{{authService.user.name}}</strong>
      </div>
    }
    @if (authService.isLoggedIn()) {
      <button nz-button nzType="text"
        (click)="this.authService.logout(true, true);">
        Sair
      </button>
    }
  </nz-header>
}
<nz-content>
  <router-outlet></router-outlet>
</nz-content>
@if (isHiddenMenu()) {
  <nz-footer>votUp ©202x Todos os direitos reservados</nz-footer>
}
</nz-layout>
<audio id="audioElement" src="assets/audios/login-wellcome.mp3"></audio>
