.login-main {
    height: 100vh;
    margin: -96px -110px;
    display: flex;
}

.logo {
    margin-bottom: 32px;
    margin-right: 0;
    font-size: 18px;

    img {
        margin-top: -8px;
    }
}

.login-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #1D63FF;
}

.login-form-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 300px;
}

.login-link {
    text-align: right;
    margin-bottom: 16px;
    margin-top: -16px;

    a {
        padding: 0;
    }
}

.login-alert {
    border: red;
    color: red;
    margin-bottom: 16px;
}
