.badge-success {
    width: fit-content;
    padding: 0 8px;
    border-radius: 2px;
    background-color: #27ae60;
    color: #ffffff;
}

.badge-failed {
    border: 1px solid rgba(0, 0, 0, .12);
    width: fit-content;
    padding: 0 8px;
    border-radius: 2px;
    background-color: #f5f5f5;
}

.badge-icon {
    margin-right: 6px;
}
