.header-label {
    display: flex;
    align-items: center;
}
.header-label {
    display: flex;
    align-items: center;
}

form {
    margin-bottom: 16px;
}

.name {
    display: flex;
    line-height: normal;

    > div {
        display: flex;
        align-items: center;
    }
    font-size: 1.1rem;
}

.ant-avatar  {
    width: 3rem !important;
    height: 3rem !important;
}
