.photo {
    position: absolute;
    transform: translate(-50%, -50%);
}

.noState {
    width: 100%;
}

.full-width {
    width: 100%;
}

.mr-32 {
    margin-right: 32px;
}

.mr-36-8 {
    margin-left: 36px;
    margin-right: 8px;
}
