.red-style {
    color: red;
}

.holder {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.ant-avatar {
    margin-left: 8px;
}

.f-w {
    width: 100%;
    display: flex;
}

.fx-1 {
    flex: 1;
}

.mb-4 {
    margin-bottom: 4px;
}

.fs-12 {
    font-size: 12px
}

.ant-avatar  {
    width: 3rem !important;
    height: 3rem !important;
}

.custom-cursor {
    cursor: pointer;
}
