@if (!isResetPassword()) {
  <section class="reset-password-page">
    <div class="reset-password-panel">
      <div class="logo">
        <img src="../../../assets/images/logo-votup.svg" height="32" alt="VotUp">
        <span>VotUp</span>
      </div>
      <h1>Nova senha</h1>
      <p>Preencha os campos abaixo para criar uma nova senha.</p>

      <form class="reset-password-form" nz-form [formGroup]="formGroup">
        <nz-form-item>
          <nz-form-control nzErrorTip="E-mail inválido!">
            <nz-input-group nzPrefixIcon="mail">
              <input nz-input appLowercase type="email" maxlength="50" placeholder="Digite o e-mail" autocomplete="off" formControlName="email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Número inválido!">
            <nz-input-group nzPrefixIcon="phone">
              <input nz-input id="cell" formControlName="cellphone" maxlength="15" type="text" inputmode="tel" autocomplete="off" [mask]="'(00) 00000-0000'" placeholder="Ex.: (92) 99999-9999" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="A senha deve ser entre 6 à 64 caracteres">
            <nz-input-group nzPrefixIcon="lock">
              <input placeholder="Nova senha" nz-input type="password" autocomplete="off" formControlName="new_password" minlength="6" maxlength="64" required />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div class="reset-password-actions">
          <button nz-button nzType="primary" class="primary-action" type="submit" (click)="getValidUser()" [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button nz-button class="secondary-action" type="button" (click)="this.router.navigate(['main']).then()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
    <div class="reset-password-visual">
      <img src="assets/images/login.svg" alt="Ilustração de recuperação de senha">
    </div>
  </section>
}
