@if (!isResetPassword) {
  <div nz-row class="reset-password-main">
    <div class="reset-password-image">
      <img src="assets/images/login.svg" alt="">
    </div>
    <div class="reset-password-form-content">
      <div class="logo">
        <img src="../../../assets/images/logo-votup.svg" height="32px" alt="">
       VotUp
      </div>
      <div nz-col class="labels">
        <div nz-col>
          <strong>Nova senha</strong>
        </div>
        <div nz-col>
          <span>Preencha os campos abaixo para criar uma nova senha.</span>
        </div>
      </div>
      <div nz-col>
        <form class="reset-password-form" nz-form nz-col [formGroup]="formGroup">
          <nz-form-item>
            <nz-form-control nzErrorTip="E-mail inválido!">
              <nz-input-group nzPrefixIcon="mail">
                <input nz-input lowercase
                  type="email"
                  maxlength="50"
                  placeholder="Digite o e-mail"
                  autocomplete="off"
                  formControlName="email"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Número inválido!">
              <nz-input-group nzPrefixIcon="phone">
                <input nz-input id="cell"
                  formControlName="cellphone"
                  maxlength="15"
                  type="text"
                  autocomplete="off"
                  [mask]="'(00) 00000-0000'"
                  placeholder="Ex.: (92) 99999-9999"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="A senha deve ser entre 6 à 64 caracteres">
              <nz-input-group nzPrefixIcon="lock">
                <input placeholder="Nova senha" nz-input type="password" autocomplete="off"
                  formControlName="new_password" minlength="6" maxlength="64" required>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
        <nz-space nzSize="small">
          <button class="login-email" *nzSpaceItem  nzBlock nz-button nzType="primary"
            type="submit"
            (click)="getValidUser()"
            [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="login-email" *nzSpaceItem nz-button nzType="primary" (click)="this.router.navigate(['main']).then()">
            Cancelar
          </button>
        </nz-space>
      </div>
    </div>
  </div>
}
