.reset-password-main {
    height: 100vh;
    margin: -96px -110px;
    display: flex;
}

.logo {
    margin-bottom: 32px;
    margin-right: 0;
    font-size: 18px;

    img {
        margin-top: -8px;
    }
}

.reset-password-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #00875A;
}

.reset-password-form-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .labels {
        width: 300px;
        margin-bottom: 8px;
        color: #5B6075;
    }
}

.reset-password-form {
    width: 300px;
}

.reset-password-link {
    text-align: right;
    margin-bottom: 16px;
    margin-top: -16px;

    a {
        padding: 0;
    }
}

.reset-password-alert {
    border: red;
    color: red;
    margin-bottom: 16px;
}
.login-email {
    width: 150px;
}
